<footer class="footer">
  <div class="footer-medias">
    <i class="fab fa-linkedin"></i>
    <i class="fab fa-github"></i>
    <i class="fab fa-twitter"></i>
  </div>
  <p>Fait avec amour depuis Bordeaux <i class="fas fa-hand-holding-heart"></i> © Valentine Ecrepont - 2020 </p>
</footer>
