<div class="card card-tuto">
  <h2>Comment installer notre extension Chrome ?</h2>

  <ol>
    <li>Cliquer sur ce <a href="https://github.com/prevostjules/dev_tools_extension_chrome/archive/master.zip" class="btn btn-primary">bouton</a> bouton pour télécharger l’extension</li>
    <li>Cliquer deux fois sur le fichier dev_tools_extension_chrome-master.zip pour le dézipper</li>
    <li>Ouvrir le navigateur Chrome, Chromium ou Brave</li>
    <li>Cliquer sur en haut à droite de votre fenêtre sur <i class="fas fa-bars"></i> puis sélectionner "Extensions"</li>
    <li>Notre extension n’a pas encore été validé par le Chrome Store. Pour pouvoir profiter de ses magnifiques fonctionnalités, vous devez activer le "Mode développeur" en cliquant sur <i class="fas fa-toggle-on"></i> en haut à droite de votre fenêtre</li>
    <li>Appuyer sur "Charger l’extension non empaquetée" puis sélectionner le dossier "dev_tools_extension_chrome-master"</li>
    <li>Appuyez sur la pièce de puzzle <i class="fas fa-puzzle-piece"></i> à droite de vos extensions déjà installées</li>
    <li>Appuyer sur la punaise: <i class="fas fa-thumbtack"></i> pour afficher Dev Tools en permanence</i></li>
  </ol>

  <p>Voilà votre extension est désormais fonctionnelle ! Vous n’avez plus qu’à rentrer votre mail et votre clé api pour en profiter !</p>
  <div class="text-center">
    <p>Votre clé api : <strong><%= @api_key %></strong></p>
  </div>
</div>



