<div class="homepage_wrapper d-flex align-items-center">
  <div class="container">
    <h1>Bienvenu sur <strong>My Dev Tools Links</strong></h1>
    <h2>Site de partage de ressources pour les développeurs </h2>
    <p>Les favoris de votre navigateur s'entassent et vous avez du mal à vous y retrouvez?</p>
    <p>Vous voulez partager avec la communauté des sites fascinants?</p>
    <p>Quelque soit la raison, cette application est faite pour vous</p>
    <%= link_to "Voir les sites",resources_path, class: "btn btn-light" %>
    <%= link_to "Se connecter",new_user_session_path, class: "btn btn-outline-light" %>
  </div>
</div>

