<div class="row mt-5">
  <% @resources.each do |resource| %>
    <div class="col-12 col-lg-6 col-xl-4 p-4" id="resource-<%= resource.id %>">
      <%= render 'card-index', resource: resource %>
    </div>
  <% end %>
</div>
