.card-resource {
  margin: 16px 24px;
  display: flex;
  height: 250px;
  // background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-size: cover;
  position: relative;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 2px;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .1);
  }
}

.card-resource_infos {
  color: #213E69;
  width: 50%;
  height: 100%;
  background-color: #D1D7DF;
  opacity: 80%;
  padding: 8px;
  margin-left: auto;
  transition: 0.3s;
  position: relative;
  .card-resource_title {
    font-variant: small-caps;
  }
  .card-resource_title i {
    color: #692821;
    font-size: 24px;
  }
  .card-resource_text {
    visibility: hidden;
  }
  .card-resource_tag {
    position: absolute;
    bottom: 8px;
  }
  &:hover .card-resource_tag{
    position: inherit;
  }
  .card-resource_links-hover {
    visibility: hidden;
  }
  &:hover {
    width: 100%;
    opacity: 0.9;
  }
  &:hover .card-resource_links-hover, &:hover .card-resource_text {
    visibility: visible;
    transition-delay: 0.4s;
  }
  .card-resource_link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #213E69;
  }
}

.card-tuto {
  padding: 3rem;
  max-width: 70%;
  margin: 2rem auto;

  h2 {
    margin-bottom: 2rem;
  }

  li {
    margin: 2rem 0;
  }
}






