.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 16px 0;

}

.category-choice {
  background: #b7b7b7;
  padding: 16px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $blue;
  color: white;
  opacity: 1;
  }
  &.active::after {
    content: " ✓";
  }
}

.category-filter_section {
  display: flex;
  justify-content: center;
  .toogleBtn {
    text-align: center;
  }
}
.category-filter {
  text-align: center;
  margin: 24px 0;
  legend {
    display: none;
  }
  .form-group {
    text-align: center;
    width: 100%;
  }
  .form-check {
    color: white;
    display: inline;
  }
  .form-check label {
    border-radius: 5px;
    background-color: $gray;
    padding: 8px 16px;
    margin-bottom: 8px;
  }
  .form-check:hover label {
    cursor: pointer;
  }
  input:checked + label {
    background-color: $blue;
  }
  .filter-btn {
    width: 30%;
  }
}

