.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0px 1px 2px 0px #607D8B;
  .nav-link.active {
    border-bottom: 2px solid $blue;
    padding-bottom: 0;
  }
}
#navbarSupportedContent > ul > li.nav-item > a {
  color: $blue;
  margin: 1rem;
  padding: 2px;
  &:hover {
    border-bottom: 2px solid $blue;
    padding-bottom: 0;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
#navbarDropdown {
  font-size: 1.5rem;
  margin: 10px 8px;
  height: 100%;
  width: auto;
  color: $blue;
  &::after {
    display: none;
  }
}
